@mixin font-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 192dpi) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin font($font-family, $font-weight, $font-style, $filename) {
  @font-face {
    font-family: $font-family;
    src: url("/fonts/#{$filename}.eot");
    src: url("/fonts/#{$filename}.eot?#iefix") format('embedded-opentype'), url("/fonts/#{$filename}.woff2") format('woff2'), url("/fonts/#{$filename}.woff") format('woff');
    font-weight: $font-weight;
    font-style: $font-style;
    text-rendering: optimizeLegibility;
    font-stretch: normal;
    unicode-range: U+0020-2084;
  }
}
