@import './_math.scss';
@import './_mixins.scss';

$bgPrimary: #C33764;
$bgSecondary: #1d2671;

$background: #f8f8f8;
$text: #fff;
$highlight: #ff0052;

$font: AG, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial,sans-serif;

body, html {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;

  @include mobile {
    font-size: 10px;
  }
}

body {
  color: $text;
  background: $bgPrimary;
  font: normal 1.5rem/1.8 $font;
  padding: 10%;
}

.rise {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, $bgPrimary 0%, $bgSecondary 100%);
  animation: fadeIn 4s linear 0s 1 both;
  opacity: 0;
}

main {
  max-width: 600px;

  > * {
    animation: slideIn 2s linear 0.5s 1 both;

    &:nth-child(1) {
      animation-delay: 0.5s;
    }

    &:nth-child(2) {
      animation-delay: 1.0s;
    }

    &:nth-child(3) {
      animation-delay: 1.5s;
    }

    &:nth-child(4) {
      animation-delay: 2.0s;
    }

    &:nth-child(5) {
      animation-delay: 2.5s;
    }
  }
}

h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.intro {
  font-size: 2rem;
}

.body {
  max-width: 500px;
}

p {
  margin: 0.2em 0 1.2em 0;
}

a {
  position: relative;
  color: $text;
  text-decoration: none;
  transition: color 200ms ease-in-out;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: $highlight;
  }

  &:hover {
    &:after {
      color: $text;
      top: 0;
      left: -2px;
      right: -2px;
      height: auto;
      border-radius: 2px;
    }
  }
}

ul.links {
  margin: 0 -5px;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }

  a {
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: mix($text, $background, 20%);

    &:hover {
      color: $highlight;
      text-decoration: none;
    }
  }
}

@keyframes slideIn {
  $_frames: 20;

  @for $i from 0 through $_frames {
    $_progress: $i / $_frames;
    #{percentage($_progress)} {
      opacity: lerp(0, 1, easeOut($_progress, 2));
      transform: translateX(lerp(20px, 0px, easeOut($_progress, 6)));
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
