@import './_math.scss';
@import './_mixins.scss';

$backgroundColor: #000;
$secondaryColor: #ff0052;
$text: #fff;

$font: AG, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial,sans-serif;

$easing: cubic-bezier(0, 0.8, 0.2, 1);

body, html {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  font-size: 12px;

  @include mobile {
    font-size: 6px;
  }
}

body {
  color: $text;
  background: $backgroundColor;
  font: normal 2.2rem/1.8 $font;
  padding: 10%;
}

main {
  max-width: 800px;

  > * {
    animation: slideIn 4s linear 0.5s 1 both;

    &:nth-child(1) {
      animation-delay: 0.5s;
    }

    &:nth-child(2) {
      animation-delay: 1.0s;
    }

    &:nth-child(3) {
      animation-delay: 1.5s;
    }

    &:nth-child(4) {
      animation-delay: 2.0s;
    }

    &:nth-child(5) {
      animation-delay: 2.5s;
    }
  }
}

.intro {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
}

.body {
  max-width: 700px;
}

p {
  margin: 0.2em 0 1.2em 0;
}

a {
  position: relative;
  color: $text;
  text-decoration: none;
  transition: color 200ms ease-in-out;
  text-decoration: underline;
  text-decoration-color: rgba($secondaryColor, 0.5);

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    top: 0;
    left: -2px;
    right: -2px;
    height: auto;
    border-radius: 2px;
    background: $secondaryColor;
    opacity: 0;
  }

  &:hover {
    text-decoration: none;

    &:after {
      opacity: 1;
    }
  }
}

@keyframes slideIn {
  $_frames: 20;

  @for $i from 0 through $_frames {
    $_progress: $i / $_frames;
    #{percentage($_progress)} {
      opacity: lerp(0, 1, easeOut($_progress, 2));
      transform: translateY(lerp(20px, 0px, easeOut($_progress, 6)));
    }
  }
}

@include font('AG', 400, normal, 'AG');
@include font('AG', 700, normal, 'AG-B');
