---
import GTag from '@components/GTag.astro';
import '@styles/globals.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="language" content="en-au" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<GTag />
		<title>Levi Buzolic</title>
	</head>
	<body>
    <slot >
  </body>
</html>
